<div class="container" ng-controller="listLivroController as lv">
  <div ng-show="lv.screen == 0">
    <div class="panel panel-default">
      <div class="panel-heading principal"><strong>Livros</strong></div>
      <div class="panel-body">
        <uib-tabset active="activeForm">
          <uib-tab index="0" heading="Meus Livros">
            <br>
            <table class="listaLivros table table-hover" ng-show="lv.livros.length > 0">
              <tr>
                <th>Codigo</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Situação</th>
                <th></th>
              </tr>
              <tr ng-repeat="livro in lv.livros">
                <td>{{livro.CD_LIVRO}}</td>
                <td>{{livro.DS_TITULO}}</td>
                <td>{{livro.NM_AUTOR}}</td>
                <td>{{livro.ST_LIVRO}}</td>
                <td>
                  <div class="btn-group" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle
                      ng-disabled="disabled">
                      Ações <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                      <li role="menuitem" ng-click="lv.open(livro)"><a>Detalhes</a></li>
                      <li role="menuitem"><a href="#/livros/emprestimo/{{livro.CD_LIVRO}}">Emprestar</a></li>
                      <li role="menuitem"><a href="#/livros/reserva/{{livro.CD_LIVRO}}">Reservar</a></li>
                      <li role="menuitem"><a href="#/livros/devolucao/{{livro.CD_LIVRO}}">Devolver</a></li>
                      <li role="menuitem" ng-click="lv.edit(livro)"><a>Editar</a></li>
                      <li role="menuitem" ng-click="lv.delete(livro)"><a>Excluir</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </table>
          </uib-tab>
          <uib-tab index="1" heading="Todos os Livros">
            <br>
            <table class="listaLivros table table-hover" ng-show="lv.allLivros.length > 0">
              <tr>
                <th>Codigo</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Situação</th>
                <th></th>
              </tr>
              <tr ng-repeat="livro in lv.allLivros">
                <td>{{livro.CD_LIVRO}}</td>
                <td>{{livro.DS_TITULO}}</td>
                <td>{{livro.NM_AUTOR}}</td>
                <td>{{livro.ST_LIVRO}}</td>
                <td>
                  <div class="btn-group" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle
                      ng-disabled="disabled">
                      Ações <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                      <li role="menuitem" ng-click="lv.open(livro)"><a>Detalhes</a></li>
                      <li role="menuitem"><a href="#/livros/emprestimo/{{livro.CD_LIVRO}}">Emprestar</a></li>
                      <li role="menuitem"><a href="#/livros/reserva/{{livro.CD_LIVRO}}">Reservar</a></li>
                      <li role="menuitem"><a href="#/livros/devolucao/{{livro.CD_LIVRO}}">Devolver</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </table>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
  <div ng-show="lv.screen == 1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div>
          <button class="btn btn-default btn-sm" ng-click="lv.back()">Voltar</button>
        </div>
        <div class="title">
          <strong>Detalhes do Livro: {{lv.livro.DS_TITULO}}</strong>
        </div>
      </div>
      <div class="row" ng-show="lv.livro">
        <div>
          <div class="col-md-2"><ul class="list-group"><li class="list-group-item">Status</li></ul></div>
          <div class="col-md-10"><ul class="list-group"><li class="list-group-item">{{lv.livro.ST_LIVRO}}</li></ul></div>
        </div>
        
        <div>
          <div class="col-md-2"><ul class="list-group"><li class="list-group-item">Código Estante</li></ul></div>
          <div class="col-md-10"><ul class="list-group"><li class="list-group-item">{{lv.livro.CD_ESTANTE}}</li></ul></div>
        </div>
        
        <div>
          <div class="col-md-2"><ul class="list-group"><li class="list-group-item">Código Livro</li></ul></div>
          <div class="col-md-10"><ul class="list-group"><li class="list-group-item">{{lv.livro.CD_LIVRO}}</li></ul></div>
        </div>

        <div>
          <div class="col-md-2"><ul class="list-group"><li class="list-group-item">Dono</li></ul></div>
          <div class="col-md-10"><ul class="list-group"><li class="list-group-item">{{lv.livro.CD_ADMINISTRADOR ? lv.livro.CD_ADMINISTRADOR : '-'}}</li></ul></div>
        </div>

        <div>
          <div class="col-md-2"><ul class="list-group"><li class="list-group-item">Autor</li></ul></div>
          <div class="col-md-10"><ul class="list-group"><li class="list-group-item">{{lv.livro.NM_AUTOR ? lv.livro.NM_AUTOR : '-'}}</li></ul></div>
        </div>

        <div>
          <div class="col-md-2"><ul class="list-group"><li class="list-group-item">Editora</li></ul></div>
          <div class="col-md-10"><ul class="list-group"><li class="list-group-item">{{lv.livro.NM_EDITOR ? lv.livro.NM_EDITOR : '-'}}</li></ul></div>
        </div>

        <div>
          <div class="col-md-2"><ul class="list-group"><li class="list-group-item">Número de Páginas</li></ul></div>
          <div class="col-md-10"><ul class="list-group"><li class="list-group-item">{{lv.livro.NR_PAGINA ? lv.livro.NR_PAGINA : '-'}}</li></ul></div>
        </div>

        <div>
          <div class="col-md-2"><ul class="list-group"><li class="list-group-item">Classificação</li></ul></div>
          <div class="col-md-10"><ul class="list-group"><li class="list-group-item">{{lv.livro.NR_CLASSIFICACAO ? lv.livro.NR_CLASSIFICACAO : '-'}}</li></ul></div>
        </div>

        <div>
          <div class="col-md-2"><ul class="list-group"><li class="list-group-item">Sumário</li></ul></div>
          <div class="col-md-10"><ul class="list-group"><li  class="list-group-item">{{lv.livro.DS_SUMARIO ? lv.livro.DS_SUMARIO : '-'}}</li></ul></div>
        </div>

        <div>
          <div class="col-md-2"><ul class="list-group"><li class="list-group-item">Última Alteração</li></ul></div>
          <div class="col-md-10"><ul class="list-group"><li class="list-group-item">{{lv.livro.DT_MANUTENCAO ? lv.livro.DT_MANUTENCAO : '-'}}</li></ul></div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="lv.screen == 2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div>
          <button class="btn btn-default btn-sm" ng-click="lv.back()">Voltar</button>
        </div>
        <div class="title">
          <strong>Editar Livro</strong>
        </div>
      </div>
      <div class="panel-body" ng-show="lv.livro">
        {{lv.livro}}
      </div>
    </div>
  </div>
  <div ng-show="lv.screen == 3">
  </div>
  <div ng-show="lv.screen == 4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div>
          <button class="btn btn-default btn-sm" ng-click="lv.back()">Voltar</button>
        </div>
        <div class="title">
          <strong>Reservar Livro</strong>
        </div>
      </div>
      <div class="panel-body" ng-show="lv.livro">
        {{lv.livro}}
      </div>
    </div>
  </div>
  <div ng-show="lv.screen == 5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div>
          <button class="btn btn-default btn-sm" ng-click="lv.back()">Voltar</button>
        </div>
        <div class="title">
          <strong>Emprestimo de Livro</strong>
        </div>
      </div>
      <div class="panel-body" ng-show="lv.livro">
        {{lv.livro}}

      </div>
    </div>
  </div>
  <div ng-show="lv.screen == 6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div>
          <button class="btn btn-default btn-sm" ng-click="lv.back()">Voltar</button>
        </div>
        <div class="title">
          <strong>Devolução de Livro</strong>
        </div>
      </div>
      <div class="panel-body" ng-show="lv.livro">
        {{lv.livro}}
      </div>
    </div>
  </div>
</div>