<div class="container" ng-controller="livroController as lv">
    <form>
        <div class="alert alert-info" role="alert">{{lv.message}}</div>
        <div class="form-group">
          <label for="exampleInputTitulo1">{{lv.labelTitulo}}</label>
          <input type="text" class="form-control" name="busca" ng-model="lv.titulo" id="exampleInputTitulo1" placeholder="Título do livro">
        </div>
        {{lv.titulo}}
        <button type="submit" ng-click="lv.enviar()" class="btn btn-default">Submit</button>
      </form>
</div>
