<div class="container" ng-controller="newUsuarioController as us">
  <div class="alert alert-danger" role="alert" ng-show="us.error">
      <ul>
        <li ng-repeat="erro in us.error">{{erro}}</li>
      </ul>
  </div>
  <h3>Cadastro de Usuário</h3>
  <form ng-submit="us.enviar()">
      <div class="form-group">
        <label for="usuario">Usuário</label>
        <input type="text" required class="form-control" name="usuario" ng-model="us.nm_usuario" id="usuario" placeholder="Usuário">

        <label for="email">E-mail</label>
        <input type="text" required class="form-control" name="email" ng-model="us.email" id="email" 
        placeholder="E-mail">

        <label for="senha">Senha</label>
        <input type="text" class="form-control" name="senha" ng-model="us.senha" id="senha" placeholder="Senha">

        <label for="senha2">Senha</label>
        <input type="text" class="form-control" name="senha2" ng-model="us.senha2" id="senha2" placeholder="Confirmar senha">

        <label for="nomecompleto">Nome completo</label>
        <input type="text" class="form-control" name="nome" ng-model="us.nome" id="noem" placeholder="Nome completo">

        <label for="telefone">Telefone</label>
        <input type="text" class="form-control" name="telefone" ng-model="us.telefone" id="classific" placeholder="Telefone">

      </div>
      <button type="submit" class="btn btn-success">Salvar</button>
      <button type="reset" class="btn btn-default">Limpar</button>
    </form>
</div>
